@using PartyInvites.Domain.Entities
@model PartyInvites.WebUI.Models.ResponseListViewModel
@{
    ViewBag.Title = "Responses";
}

<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1
            col-sm-12 col-xs-12 text-center">
    <h2>Responses</h2>
    <div>
        <div class="pull-right">
            @using (Html.BeginForm("Responses", "Response")) {
                @Html.DropDownList("filter",
                new SelectList(new List<string> { "All", "Will Attend", "Will Not Attend" }),
                Model.Filter == null ? "Filter..." : Model.Filter)
                <input class="btn btn-primary btn-sm" type="submit" value="Filter" />
            }
        </div>
        <div>
            <table class="table table-hover" cellpadding="0" cellspacing="0" border="0">
                <thead><tr><th>Name</th><th>Attends</th><th>E-mail</th></tr></thead>
                <tbody>
                @foreach (var g in Model.GuestResponses) {
                    <tr class="@(g.WillAttend == true ? "success" : "warning" )">
                        <td>@g.Name</td>
                        <td>@(g.WillAttend == true ? "Yes" : "No" ) </td>
                        <td>@g.Email</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Responses", new {page = x, filter = Model.Filter}))
    </div>
    <br/>
    <div class="text-center" id="responses-top">
        @Html.ActionLink("Home", "Index", "Home",
                                    null,
                                    new { @class = "btn btn-primary" })
    </div>
</div>

