@model PartyInvites.Domain.Entities.GuestResponse

@{
    ViewBag.Title = "Rsvp";
}

<div class="panel col-lg-6 col-lg-offset-3
                                col-md-8 col-md-offset-2
                                col-sm-10 col-sm-offset-1
                                col-xs-12">
    <div class="panel-heading text-center"><h4>RSVP</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm("Responses", "Rsvp", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @Html.ValidationSummary()
            <div class="form-group"><label>Your name: </label>@Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) </div>
            <div class="form-group"><label>Your email: </label>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" }) </div>
            <div class="form-group"><label>Your phone: </label>@Html.TextBoxFor(x => x.Phone, new { @class = "form-control" }) </div>
            <div class="form-group">
                <label>Will you attend?</label>
                @Html.DropDownListFor(x => x.WillAttend, new[] {
                        new SelectListItem() {Text = "Yes, I'll be there", Value = bool.TrueString },
                        new SelectListItem() {Text = "No, I can't come", Value = bool.FalseString }
                    }, "Choose an option", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Image: </label>
                <a class="btn" href="javascript;">
                    Choose file...
                    <input type="file" name="Image" size="40"
                           syle="position:absolute;z-index:2;top:0;
                                    left:0;filter: alpha(opacity=0); opacity:0;
                                    background-color:transparent;color:transparent;"
                           onchange='$("#upload-file-info").html($(this).val());' />
                </a>
                <span class="label label-info" id="upload-file-info"></span>
            
            @*@if (Model.ImageData == null) {
                <div class="form-control-static">No Image</div>
            } else {
                <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Response", new { Model.Email })" />
            }*@
            </div>
            <div id="custom-button">
                <input class="btn btn-success" type="submit" value="Submit Rsvp" />
                @Html.ActionLink("Home", "Index", "Home",
                                     null,
                                     new { @class = "btn btn-primary" })
            </div>
        
        }
    </div>
</div>



